#encabezado
{
    text-align: center;
    height: 15%;
    background-color:  #d9bd1f ;
}

#barraNavegacion
{
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #713505 ;
}

body
{
    background-color:  #d49e23 ;
}

#pieNavegacion
{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #744607 ;
}

#seccion1
{
    background-color:  #b01a1c  ;
    text-align: justify;
    flex-basis: 30%;
}

#contenido
{
    display: flex;
 
    flex-wrap: wrap;
    gap: 6%;
}

#seccion2
{
    background-color: #dcc43c   ;
    text-align: justify;
    flex-basis: 30%;
}

h4
{
 text-align: end;
}
#contenedor
{
    margin: 0 auto;
    width: 900px;
    height: 1200px;
}

.imagene
{
    margin: 5px;
    gap: 6px;
    border: 1px solid;
    display: flex;
    flex-direction: row-reverse;
}

.imagenes
{
    margin: 5px;
    gap: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
}

